{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@Actions": "./src/Actions",
          "@Components": "./src/Components",
          "@Definitions": "./src/Definitions",
          "@Interfaces": "./src/Interfaces",
          "@Pages": "./pages",
          "@Reducers": "./src/Redux/Reducers",
          "@Redux": "./src/Redux",
          "@Services": "./src/Services",
          "@Server": "./server",
          "@Static": "./public/static",
          "@Styled": "./src/Styled",
          "@Layouts": "./src/Layouts",
          "@Utils": "./src/utilis",
          "@Context": "./src/context",
          "@Hooks": "./src/hooks"
        }
      }
    ],
    [
      "babel-plugin-styled-components",
      {
        "ssr": true
      }
    ]
  ]
}
