.btn {
    @apply px-6 py-3 text-xxs font-light text-center ;
    border-radius: 24px;
    transition: all 0.9 ease;
}

.btn:hover {
    opacity: 0.7;
    transition: all 0.9 ease;
}

.btn-primary {
    @apply bg-main-color text-white;
}

.btn-success {
    @apply bg-green text-white;
}

.btn-info {
    @apply bg-semi-white text-sub-text-color border border-border-color-ligth py-2 text-right;
}

.btn-bg-none {
    @apply border border-main-color;
    background-color: none;
}

.btn:disabled {
    cursor: not-allowed
}