.btn {
    @apply px-6 py-1 text-center ;
    border-radius: 24px;
    transition: all 0.9 ease;
}

.btn:hover {
    opacity: 0.7;
    transition: all 0.9 ease;
}

.btn-primary {
    @apply bg-main-color text-white;
}

.btn-bg-none {
    @apply border border-main-color;
    background-color: none;
}