
.badge {
    @apply bg-green flex justify-center items-center;
    max-height: 25px;
    
  &.badge-primary {
    @apply bg-green;
    color: white
  }

  &.image-badge {
    width: 20px;
    height: 20px;

  }

  .icon {
      @apply text-white ;
      font-size: 11px;
  }
}
